<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content>
      <div class="bar bar-header bar-light">
        <h1 class="title">Login</h1>
      </div>
      <div class="list has-header">
        <form ng-submit="doLogin()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" autocorrect="off" autocapitalize="none" ng-model="loginData.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="loginData.password">
            </label>
            <label class="item">
              <button class="button button-block button-positive" type="submit">Log In</button>
            </label>
          </div>
        </form>
      </div>
  </ion-content>
</ion-view>
