<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Confirm Logout</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        Are you sure you would like to logout?
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="doLogout()">Logout</button>
      </div>
      <div class="col">
        <button class="button button-block button-dark" ng-click="closeLogout()">Cancel</button>
      </div>
  </ion-content>
</ion-modal-view>
